analysis/analysis_data_30_9
crop_person_data
data/
driving_data/
mobile_phone_v1.2/
MUID-IITR/
roboflow/
runs/
video_test/
webapp.py/
templates/
yolo11l.pt
yolo11m.pt
yolo11n.pt
yolo11s.pt
yolov8s.pt
yolov8x.pt
yolov9c.pt
yolov9m.pt
